Backup/InventarioHSC.Presentation/Service References/WS_PDF/Generar.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenerarPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Numero_Prestamo" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoPDF" type="tns:TipoPDF" />
            <s:element minOccurs="1" maxOccurs="1" name="Anno" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Porcentaje" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Fila" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Forzar" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="TipoPDF">
        <s:restriction base="s:string">
          <s:enumeration value="Acreditado" />
          <s:enumeration value="Coacreditado" />
        </s:restriction>
      </s:simpleType>
      <s:element name="GenerarPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GenerarPDFResult" type="tns:Archivo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Archivo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Datos" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="MsjError" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerarPDFSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarPDF" />
  </wsdl:message>
  <wsdl:message name="GenerarPDFSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarPDFResponse" />
  </wsdl:message>
  <wsdl:portType name="GenerarSoap">
    <wsdl:operation name="GenerarPDF">
      <wsdl:input message="tns:GenerarPDFSoapIn" />
      <wsdl:output message="tns:GenerarPDFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GenerarSoap" type="tns:GenerarSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarPDF">
      <soap:operation soapAction="http://tempuri.org/GenerarPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GenerarSoap12" type="tns:GenerarSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarPDF">
      <soap12:operation soapAction="http://tempuri.org/GenerarPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Generar">
    <wsdl:port name="GenerarSoap" binding="tns:GenerarSoap">
      <soap:address location="http://hoperaciones:83/Generar.asmx" />
    </wsdl:port>
    <wsdl:port name="GenerarSoap12" binding="tns:GenerarSoap12">
      <soap12:address location="http://hoperaciones:83/Generar.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>